<!DOCTYPE html>
<html>

<%- include('./partials/head_header.ejs') %>

<body>

    <div class="playerCard">

        <div class="leftDiv">
            <p class="playerName"><%= player.playerName %></p>
            <p class="playerAge"></p>
            <p class="playerCountry"></p>
            <p class="playerIndex"></p>
        </div>

        <div class="centerDiv">
            <img src="" alt="">
        </div>

        <div class="rightDiv">
            <p class="playerClub"></p>
            <p class="playerPosition"></p>
            <p class="playerStats"></p>
        </div>

    </div>


    <script src="/static/scripts/player.js"></script>
</body>

</html>