//Variables and mixins
$primaryColor: #2596be;
$textColor: #232023;
$greyColor: #f8f8f8;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: $textColor;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;

    .logo {
        color: $primaryColor;
        font-size: 30px;
        margin: 30px;
    }

    nav {
        ul {
            list-style: none;
            display: flex;

            li {
                margin: 40px;
            }
        }
    }

    button {
        border: 3px solid $primaryColor;
        border-radius: 2px;
        background-color: white;
        padding: 7px;
        margin: 30px;
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: 700;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $primaryColor;
            color: white;
        }
    }
}



body {
    display: flex;
    flex-direction: column;
    .banner {
        // background-image: url('https://img.freepik.com/free-vector/gradient-football-game-twitch-banner_23-2149900025.jpg?w=1480&t=st=1691652093~exp=1691652693~hmac=a171f8eb641f11de06fd1f07c16e1725c1e38993374ab381dbb56c62c054d462');
        // background-size: cover;
        // background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100 vw;
        background-color: $primaryColor;
        h1 {
            color: white;
            font-size: 50px;
        }
    }
    h2 {
        margin-top: 40px;
        margin-left: 40px;
    }
}

.playersSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin: 40px;
    .playerCardFrame a {
        height: 80px;
        width:310px;
        border: 3px solid $greyColor;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .playerIndex {
            font-weight: 700;
        }
        img {
            height: 70px;
            padding: 0 10px;
        }
        .playerInfoText {
            .playerName {
                font-weight: 700;
            }
        }
        &:hover {
            background-color: $greyColor;
        }
    }
}

.alphabet {
    .letterButton {
        padding: 10px 12px;
        border: none;
        font-weight: bold;
        background-color: $greyColor;
        span {
            padding: 3px 7px;
            border-radius: 20px;
            &:hover {
            background-color: #bad305;
            }
        }
    }
}

.allPlayers {
    font-size: 12px;
    max-width: 100vw;

    h3 {
        display: none
    }

    .letterList {
        display: none;
        margin-left: 20px;
        max-width: 100vw;
        column-width: 300px;

        div {
            max-width: 100vw;
            column-width: 300 px;

            p {
                display: block;
                padding: 8px 10px 8px 10px;
                margin: 0 50px 0 10px;
                max-width: 200px;

                &:nth-of-type(even) {
                    background-color: $greyColor;
                }
            }
        }
    }
}

//playersPage

.firstSection {
    background-color: $primaryColor;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

    div  {
        width: 33vw;
        display: flex;
        flex-direction: column;

        p {
        color: white;
        font-weight: 700;
        margin-bottom: 10px;
        }

        &.leftDiv {
            padding-left: 50px;
            padding-top: 50px;

            .playerName {
                font-size: 40px;
                font-weight: 700;
            }
        }

        &.centerDiv {
            flex-direction: row;
            align-items: flex-end;
            img {
                width: 300px;
                height: auto;
            }
        }

        &.rightDiv {
            padding-left: 50px;
            padding-top: 50px;
            
            .infoValue {
                padding-left: 25px;
                padding-bottom: 10px;
                font-size: 25px;
                font-weight: 400;
            }
        }
    }
}

.secondSection {
    background-color: $primaryColor;
    border-radius: 5px;
    width: 50vw;
    margin: auto;
    margin-bottom: 50px;

    h3 {
        padding-left: 15px;
        padding-top: 15px;
    }

    * {
        color: white;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding-left: 50px;
            &.infoValue {
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 10px;
                font-size: 25px;
                font-weight: 400;
            }
        }
    }
    hr {
        margin: 0 15px;
    }
}


// sass --watch /home/luciestei/backend/Football-Statistics-App-/public/stylesheets/scss/index.scss /home/luciestei/backend/Football-Statistics-App-/public/stylesheets/css/index.css